body{
    color: black;
}

html, body {
    height: 100%;
}

footer, nav {
    background: black;
}

li a:hover {
    background: purple;
    color: white;
}
li a {
    color: orange;
}

.title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2rem;
    color: red;
    text-align: center;
}

tr, td{
    font-weight: bold;
}

input[type='radio']:after {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    background-color: #ffa500;
}

#container {
    min-height: 90%;
}

#main {
    overflow: auto;
}


nav ul li a{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.2rem;
}

.text-orange {
    color: orange !important;
}

.card{
    border-color: #a09b9b !important;
}



.card-text{
    font-weight: bold;
}

#profile_age, #profile_email, #profile_city, #profile_country{
    color: #82ccdd;
}
